<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="text-align:center">
<p>We inquired about the weather in cities from the external API.</p>
  <p>Please enter the city id(such as 101010100), then click the button.</p>
</div>
<div data-ng-app="weaAPP" data-ng-controller="weaCtrl" style="text-align:center">
  <form name = 'form_name'>
    City Id: <input type="text" cityId = "fill_name" [(ngModel)]='CityID'>
    <button (click) = 'getWeather()'> Inquire!</button>
  </form>
  <ul>
    <li *ngFor="let res of weathers">
      {{res.city}} is {{res.weather}} today.
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
