<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="text-align:center">
<h2>Global weather</h2>
<p>We inquired about the weather in 3 cities from PS4.</p>
  <ul>
    <li *ngFor="let res of mockData">
      {{res.city}} is {{res.weather}} today.
      <!--      <p *ngIf = "res.addresses">
            Contact: {{res.contact}}
          </p>-->
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
